[user]
	email = nicolas.fortin37@gmail.com
	name = zallek
[color]
        ui = auto
[alias]
        co = checkout
        b = branch
        c = commit
        s = status

	#search
	search =log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --grep

        #history
        ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate -n 10
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat -n 10
	graph =log --graph --simplify-by-decoration --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]"

	#show the history of a specific file
        filelog = log -u
	fl = log -u

        #show last commit files
        dl = "!git ll -1"
        #show last commit diff
        dlc = diff --cached HEAD^
        #grep (grep the source code, much faster than a simple grep)
        grep = grep -Ii
	gr = grep -Ii

        #Find a file path in codebase
        f = "!git ls-files | grep -i"
        find = "!git ls-files | grep -i"
[branch]
	#always pull with rebase
        autosetuprebase = always
[core]
	#the text editor launched by git when needed
        editor = gvim --nofork 
	excludesfile = ~/.gitignore

[browser "chromium"]
	cmd = /usr/bin/google-chrome

[instaweb]
	browser=google-chrome
[push]
	default = simple
[rebase]
	autosquash = true
